@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --primary-color: #f60f20;
  --secondary-color: #1b206e;
  
  --logo-text-size: 28px;
  --title-text-size: 24px;
  --regular-text-size: 16px;
  --small-text-size: 10px;
}

/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  color: #111;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--title-text-size);
  font-weight: 500;
}

p {
  font-size: var(--regular-text-size);
  margin: 20px 0 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.container {
  box-sizing: border-box;
	max-width: 1200px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

section .title {
  align-self: flex-start;
}

section.home {
  margin-top: 40px;
}


.home-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
  transition-duration: 0.2s;
  border-radius: 3px;
}

.btn:hover {
  opacity: 0.7;
}

.logo {
  text-decoration: none;
  color: #111;
  font-size: var(--logo-text-size);
  font-weight: 700;
  z-index: 20;
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* TOGGLE */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--primary-color) url(../images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: var(--primary-color) url(../images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

/* NAVIGATION */
.navigation {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}

.navigation ul li a {
  font-size: var(--regular-text-size);
  color: #111;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: var(--primary-color);
}


/* HOMEPAGE */
.home-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

.home-img {
  position: relative;
  max-height: 450px;
}

/* TEAMS */
.teams-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}

.teams-list .team {
  cursor: pointer;
  padding: 30px;
  transition-duration: 0.2s;
  text-align: left;
}

.teams-list .team:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.teams-list .team h2 {
  font-size: var(--title-text-size);
  font-weight: 500;
  margin-top: 20px;
  color: var(--secondary-color);
}

.teams-list .team .icon img {
  max-width: 100px;
}

/* ACCOUNT */
section.account {
  margin-bottom: 60px;
}


.account-wrapper {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.account-form {
  position: relative;
  background: #f9f9f9;
  width: calc(100% - 400px);
  padding: 30px 20px;
  margin: 0 10px;
}

.account-form h2 {
  margin: 0 10px;
  padding: 0;
  font-size: var(--title-text-size);
  font-weight: 400;
}

.account-form form {
  width: 100%;
}

.account-form .row {
  width: 100%;
  display: flex;
}

.account-form .input50 {
  width: 50%;
  margin: 0 10px;
}

.account-form .input100 {
  width: 100%;
  margin: 0 10px;
}

.account-form .row input,
.account-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #111;
  background: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: var(--regular-text-size);
  font-weight: 300;
  margin: 10px 0;
  resize: none;
}

.account-form .row textarea {
  height: 150px;
}

.account-form .row input[type='submit'] {
  /* background-color: var(--secondary-color); */
  color: #fff;
  margin: 0;
  padding: 0;
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
  /* font-weight: 300; */
  border: 0;
  cursor: pointer;
}

.account-btn {
  margin: 0 10px;
}

section.footer {
  color: rgba(255, 255, 255, 0.7);
  background-color: #171717;
  padding: 50px;
}

section.footer {
  font-weight: 300;
}


/* TODO LIST */
.todo-list {
  max-width: 400px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.todo-list h1 {
  text-align: center;
  margin-bottom: 20px;
}

.todo-list ul {
  list-style: none;
  padding: 5px;
  max-height: 300px;
  overflow-y: scroll;
}

.todo-list li {
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.todo-list li:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.todo-list li.highlighted-task {
  background-color: yellow;
}

/* .todo-list li.recurrent-task label {
  display: flex;
  align-items: center;
} */

.todo-list li.recurrent-task span {
  display: inline-block;
  color: white;
  padding: 0 3px;
  margin: 0 5px 0 0;
  font-size: var(--small-text-size);
  background-color: rgb(186, 49, 255);
}

.todo-list input[type="checkbox"] {
  margin-right: 10px;
}

.todo-list label {
  cursor: pointer;
}

.todo-list input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #888;
}



@media (max-width: 1068px) {
  .teams-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .account-wrapper {
    flex-direction: column;
  }

  .account-form {
    width: 100%;
    margin: 0;
    /* padding: 30px 30px 20px; */
  }

  .account-form .row {
    flex-direction: column;
  }

  .account-form .input50,
  .account-form .input100 {
    width: 100%;
    margin: 0;
  }

  .account-btn {
    margin: 0;
  }

  .account-form h2 {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .teams-list {
    grid-template-columns: 1fr;
  }

  .teams-list .team {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}